* {
    font-family: 'Nunito', sans-serif;
}

body { 
    background-color: #E0F6F9;
 }

#upload_box {
    border-radius: 25px;
    background-color: #E0F6F9;
    border: 2px solid #002244;
    padding: 20px;
    width: 200px;
    height: 150px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Pushes content apart */
    align-items: center;

    margin: 200px auto;
}

.upload_button {
    width: 150px;        /* Fixed width */
    height: 40px;        /* Fixed height */
    padding: 10px 20px;  /* Top/Bottom Left/Right */
    font-size: 16px;     /* Text size */
    
    /* COLOR properties */
    background-color: #2D68C4;  /* Button background */
    color: white;                /* Text color */
    border: 2px solid #2D68C4;
    border-radius: 25px;
}

